<section class="main">
    <select name="languages" id="language-selector" onchange="localize(this.value)">
        <option value="en-gb" data-text="en-gb"></option>
        <option value="zh-tw" data-text="zh-tw"></option>
    </select>
    <div class="nav-links gap-1rem">
        <a class="link" href="index.html#home" data-text="home"></a>
        <a class="link" href="index.html#about" data-text="about"></a>
        <a class="link" href="videos.html" data-text="videos"></a>
    </div>
    <div class="nav-icons justify-right">
        <a class="social" href="https://youtube.com/@MakeThingsSimple" target="_blank">
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a class="social" href="https://github.com/makethingssimple241" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a class="social" href="https://www.facebook.com/make.things.simple.pc" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a class="social" href="https://twitter.com/CreateFinder1" target="_blank">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </div>
</section>
<small data-text="copyright"></small>