<div class="nav-links">
    <a class="link" href="index.html#landing" data-text="home"></a>
    <a class="link" href="index.html#about" data-text="about"></a>
    <a class="link" href="videos.html" data-text="videos"></a>
</div>
<div class="nav-icons margin-top-1_25rem">
    <a href="https://youtube.com/@MakeThingsSimple" target="_blank">
        <i class="fa-brands fa-youtube"></i>
    </a>
    <a href="https://github.com/makethingssimple241" target="_blank">
        <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://www.facebook.com/make.things.simple.pc" target="_blank">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://twitter.com/CreateFinder1" target="_blank">
        <i class="fa-brands fa-twitter"></i>
    </a>
</div>