<a href="index.html">
    <div class="align-items-center display-flex">
        <img class="border-radius-50p margin-left-1rem" src="images/logo.png" style="width: 35px">
        <p class="font-weight-700 margin-left-0_5rem" data-text="name"></p>
    </div>
</a>
<div class="nav-links gap-1rem">
    <a class="link" href="index.html#home" data-text="home"></a>
    <a class="link" href="index.html#about" data-text="about"></a>
    <a class="link" href="videos.html" data-text="videos"></a>
</div>
<div class="nav-icons justify-right margin-right-1rem">
    <a class="social" href="https://youtube.com/@MakeThingsSimple" target="_blank">
        <i class="fa-brands fa-youtube"></i>
    </a>
    <a class="social" href="https://github.com/makethingssimple241" target="_blank">
        <i class="fa-brands fa-github"></i>
    </a>
    <a class="social" href="https://www.facebook.com/make.things.simple.pc" target="_blank">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a class="social" href="https://twitter.com/CreateFinder1" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
    </a>
    <button class="menu-btn cursor-pointer" onclick="openMenu()">
        <div class="bars vertical gap-0_25rem">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>
    </button>
</div>
