/* main */

main {
    height: 100dvh;
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    top: 0;
    transition: filter .4s ease-in-out;
    width: 100%;
}

#home,
#about,
#file_not_found {
    height: 100dvh;
    height: 100vh;
    position: relative;
    scroll-snap-align: center;
}

/* main end */

/* landing */

#home {
    display: flex;
}

.landing-slideshow {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* required when using scroll snapping */
    overflow: auto;
    position: relative;
    width: 100%;
}

#home section {
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 100%;
}

#home section > * {
    max-width: 80vw;
}

#landing {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.landing-btns {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.landing-btns a {
    width: 100%;
}

.cta {
    padding: 1.25rem;
    width: 100%;
}

.cta.primary:hover p {
    color: var(--text-color);
}

.cta:hover {
    background-color: rgba(211, 211, 211, 0.25);
}

.cta p {
    font-weight: 700;
}

.landing-slideshow-btns {
    justify-content: space-between;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2rem);
}

.landing-slideshow-btns > * {
    aspect-ratio: 1;
    height: fit-content;
    /* overwrite default button style to match .nav-icons */
    padding: 0;
}

.landing-slideshow-btns > * > i {
    line-height: 30px;
    height: 30px;
    width: 30px;
    padding: 5px;
}

/* landing end */

/* about */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    justify-content: center;
    max-width: 90%;
    position: absolute;
    top: 60px;
}

.timeline-item {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.timeline-item-decoration-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.timeline-icon {
    align-items: center;
    aspect-ratio: 1/1;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
}

.timeline-icon::after {
    background-color: var(--accent-color);
    border-radius: 50%;
    content: "";
    filter: blur(18px);
    height: calc(100% + 1rem);
    opacity: 0.5;
    position: absolute;
    width: calc(100% + 1rem);
}

.timeline-line {
    background-color: var(--accent-color);
    border-radius: 1.5px;
    height: 100%;
    opacity: 0.5;
    width: 3px;
}

.timeline-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.timeline-body h4 {
    font-size: 1.25rem;
}

.timeline-body p {
    font-size: 1.5rem;
    line-height: 2.25rem;
}

/* about end */

/* Videos */

.videos_main {
    height: calc(100vh - 60px);
    overflow: scroll;
    scroll-snap-align: center;
    scroll-snap-type: y mandatory;
    top: 60px;
}

.video {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    position: relative;
    scroll-snap-align: start;
    text-align: center;
    width: 100%;
}

.video h2 {
    max-width: 90vw;
}

.video .youtubeEmbed {
    aspect-ratio: 16 / 9;
    border-radius: 20px;
    max-width: 90vw;
    min-width: 50vw;
}

/* Videos end */

/* File not found */

#file_not_found {
    display: flex;
}

.file_not_found_icon {
    font-size: 175px;
    margin: 20px;
}

/* File not found end */
