.menu {
    align-items: center;
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    left: 0;
    position: relative;
    padding-block: 1rem;
    top: calc(60px - 100vh);
    transition: top .4s ease-in-out;
    width: 100vw;
    z-index: 5;
}