nav {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: fixed;
    z-index: 6;
}

nav:not(.video_nav) *:not(.socialLinks i) {
    color: white !important;
}

#title {
    display: flex;
    align-items: center;
}

.titleText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.logo {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.name {
    font-size: 18px;
    font-weight: 700;
}

nav > .socialLinks > * > i,
nav > .socialLinks > .menuBtnContainer
{
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

nav > .socialLinks > * > i:hover,
nav > .socialLinks > .menuBtnContainer:hover
{
    background-color: rgba(211, 211, 211, 0.25);
    color: var(--text-color);
}

.menuBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.menuBtnBar {
    width: 20px;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 3px;
    transition: rotate .1s ease-in-out;
}

.menuBtnBar.true.menuBtnBarTop {
    translate: 0px 7px;
    rotate: 45deg;
}

.menuBtnBar.true.menuBtnBarMiddle {
    opacity: 0;
}

.menuBtnBar.true.menuBtnBarBottom {
    translate: 0px -7px;
    rotate: -45deg;
}