nav {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: var(--nav-z-index);
}

nav .nav-icons > * {
    background-color: transparent;
    border: 1px solid var(--text-color);
}

nav .nav-icons > * > * {
    color: var(--text-color);
}

nav .nav-icons > *:hover {
    background-color: rgba(211, 211, 211, 0.25);
}

.menu-btn {
    aspect-ratio: 1;
    display: none;
    height: fit-content;
}

.menu-btn .bars {
    height: 30px;
    width: 30px;
}

.menu-btn .bars > * {
    background-color: var(--text-color);
    border-radius: 3px;
    height: 3px;
    transition: rotate .1s ease-in-out;
    width: 20px;
}

.menu-btn .bars .top[active] {
    rotate: 45deg;
    translate: 0px 7px;
}

.menu-btn .bars .middle[active] {
    opacity: 0;
}

.menu-btn .bars .bottom[active] {
    rotate: -45deg;
    translate: 0px -7px;
}