@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333333;
        --secondary-background-color: #444444;
        --text-color: white;
    }
}

@media (max-width: 1000px) {
    h1 {
        font-size: 2.441rem;
    }

    h2 {
        font-size: 1.953rem;
    }

    h3 {
        font-size: 1.563rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    small {
        font-size: 0.64rem;
    }
}

@media (max-width: 800px) {
    /* Navigation */

    nav {
        grid-template-columns: 1fr 1fr;
    }

    nav #title {
        margin: 0;
    }

    nav .navLinks {
        display: none;
    }

    .socialLinks .menuBtnContainer {
        display: flex;
    }

    .navLinks {
        align-items: center;
        flex-direction: column;
    }

    footer .navLinks {
        margin-block: 1.25rem;
    }

    nav .socialLinks a {
        display: none;
    }

    /* Navigation end */

    /* Videos */

    .videos_main footer {
        left: 0;
        width: 100vw;
    }

    .video {
        left: 0;
        width: 100vw;
    }

    /* Videos end */

    /* Footer */

    footer .footerLinks {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        justify-items: center;
    }

    #language-selector {
        margin-block: 0.25rem;
    }

    /* Footer end */
}

@media (max-width: 450px) {
    h1 {
        font-size: 1.953rem;
    }

    h2 {
        font-size: 1.563rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    small:not(.landingLink small),
    .text_small {
        font-size: 0.64rem;
    }
}

@media (max-width: 650px) {
    /* Main */

    .landingBtns {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /* Main end */
}

@media (max-height: 450px) {
    h1 {
        font-size: 1.563rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.8rem;
    }

    h5 {
        font-size: 0.64rem;
    }

    .timeline_line {
        height: 100vh;
    }

    footer {
        height: calc(100vh - 80px);
        margin-top: 60px;
    }

    .menu {
        height: calc(100vh - 90px);
    }
}
